.services {
    background-color: #393939;
  
  
  h2 {
    margin-left: 20px;
    font-size: 50px;
    text-align: left;
    color:white;
  }
  
  .service-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly */

    .service {
        color:white;
        width: calc(20% - 10px); /* 50% width with some margin */
        
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        h3 {
            font-size: 25px;
        }
      }
  }
  
  .see-more {
    width: 300px;
    height: 100px;
    font-size: 30px;
    padding: 10px 20px;
    background-color: rgb(255, 200, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 50px;
  }
  
  .see-more:hover {
    background-color: #0056b3;
  }
}