.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px; /* Add padding to account for the fixed navbar */
}

img {
  width: 100%; /* Make the image take the full width of its container */
  height: auto; /* Maintain the aspect ratio */
  max-width: 100%; /* Ensure the image does not exceed the container width */
  object-fit: cover; /* Optionally, cover the container completely */
}
