/* Clearfix for floated elements */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* services.css */

.services {
  background-image: url('../../../assets/services/background.png');
  background-size: cover;
  position: relative;
  padding: 2rem;
  background-color: black; /* Set background color to transparent */
  margin-top: -2rem; /* Adjust this value to move the section higher */
  z-index: 200;
}



.gold-leaf {
  position: absolute;
  top: 0;
  left: 0;
  width: 40rem; /* Adjust the size as needed */
  height: auto;
  z-index: 101; /* Ensure it is on top of other elements */
  margin-top: -5rem; /* Adjust this value to move the section higher */
}

.gold-leaf-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40rem; /* Adjust the size as needed */
  height: auto;
  z-index: 101; /* Ensure it is on top of other elements */
  margin-bottom: -10rem; /* Adjust this value to move the section higher */
}

.service-intro {
  text-align: right;
  width: 50%; /* Cover half the screen */
  float: right;
}

.service-heading {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.service-heading img.arrow-icon {
  height: 8vh; /* Adjust the size as needed */
  width: auto;
  mix-blend-mode: multiply; /* Applies the multiply blend mode */
  margin-right: 1rem;
}

.service-heading h2 {
  font-family: 'Stick No Bills', sans-serif;
  font-size: 50px;
  margin: 0;
}

.service-intro p {
  font-family: 'Syne Mono', sans-serif;
  margin-top: 1rem;
}

.service-table {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5rem; /* Add space between the flavor text and service bubbles */
  margin-bottom: 7rem; /* Increased space to accommodate the button */
}

.service {
  font-family: "Sync Tactile";
  flex: 1 1 30%; /* Adjust the flex basis to prevent shrinking */
  margin: 0.5rem;
  padding: 1rem;
}

.see-more {
  position: relative; /* Position it relative to its nearest positioned ancestor */
  bottom: 1rem; /* Distance from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Offset by half its width to center it */
  width: 100%; /* Full width to ensure it's centered within its parent */
  display: flex;
  justify-content: center; /* Center content horizontally */
  z-index: 100; /* Ensure it is on top of other elements */
}

.see-more-button {
  max-width: 400px; /* Adjust this value to make the button smaller */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, max-width 0.3s ease; /* Smooth transition for transform and max-width */
}

.see-more-button:hover {
  transform: scale(1.1); /* Slightly enlarge the button */
  max-width: 450px; /* Adjust the maximum width on hover */
}
