/* Define the fade-in keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to the services section and its child elements */
.services, .services h2, .services .service, .services .see-more {
  animation: fadeIn 1s ease-in-out; /* 1s duration, ease-in-out timing function */
}

.services {
  background-color: #393939;
  
  h2 {
    margin-left: 2vw; /* Convert margin to viewport units */
    font-size: 3vw; /* Convert font size to viewport units */
    text-align: left;
    color: white;
  }

  .service-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly */

    .service {
      color: white;
      width: calc(20vw - 1vw); /* 20% width with some margin in vw */
      border-radius: 2vw; /* Convert border-radius to viewport units */
      padding: 2vw; /* Convert padding to viewport units */
      margin-bottom: 2vw; /* Convert margin to viewport units */
      
      h3 {
        font-size: 2vw; /* Convert font size to viewport units */
      }
    }
  }

  .see-more {
    margin-left: 2vw; /* Convert margin to viewport units */
    color: black;
    width: 25vw;
    height: 15vh; /* Convert height to viewport units */
    font-size: 2vw; /* Convert font size to viewport units */
    padding: 2vh 4vw; /* Convert padding to viewport units */
    background-color: rgb(255, 200, 0);
    border: none;
    border-radius: 10vw; /* Convert border-radius to viewport units */
    cursor: pointer;
    margin-bottom: 10vh; /* Convert margin to viewport units */
  }

  .see-more:hover {
    background-color: rgb(255, 200, 0);
  }
}
