/* Define the fade-in keyframes */
.homeView{
  width: 100%;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  
  /* Apply the animation to the HomeView component and its child elements */
  .homeView, .homeView img, .homeView .services, .homeView .location {
    animation: fadeIn 1s ease-in-out; /* 1s duration, ease-in-out timing function */
  }
  